@{ 
    Layout = "~/Views/Shared/_LayoutResumeEdit.cshtml"; 
}
@section ResumeModalManager{
    <div class="litemodal left_editor_modal" id="resume_modal_manager">
        <div class="modal-dialog show-swal1">
            <div class="modal-content">
                <div class="r-itembar r-basebar">
                    <div class="title"><span class="close"><i></i>缩起</span></div>
                    <div class="showcon itemcon">
                        <ul id="showul">
                            <li class="jbxx"><i class="icon"></i><span class="name" data-placeholder="基本信息">基本信息</span><a style="display: none;" title="隐藏此模块" for-id="base_info"></a><s>必填</s></li>
                            <li class="qzyx"><i class="icon"></i><span class="name" data-placeholder="求职意向">求职意向</span><a class="save_opt" title="隐藏此模块" for-id="resume_job_preference"></a></li>
                            <li class="jybj"><i class="icon"></i><span class="name" data-placeholder="教育背景">教育背景</span><a class="save_opt" title="隐藏此模块" for-id="resume_edu"></a></li>
                            <li class="gzjy"><i class="icon"></i><span class="name" data-placeholder="工作经验">工作经验</span><a class="save_opt" title="隐藏此模块" for-id="resume_work"></a></li>
                            <li class="zwpj"><i class="icon"></i><span class="name" data-placeholder="自我评价">自我评价</span><a class="save_opt" title="隐藏此模块" for-id="resume_summary"></a></li>
                            <li class="xqah"><i class="icon"></i><span class="name" data-placeholder="个人标签">个人标签</span><a class="save_opt" title="隐藏此模块" for-id="resume_hobby"></a></li>
                            <li class="zyjn"><i class="icon"></i><span class="name" data-placeholder="技能特长">技能特长</span><a class="save_opt" title="隐藏此模块" for-id="resume_skill"></a></li>
                        </ul>
                    </div>
                    <div class="hidecon itemcon">
                        <div class="addother-btn"><span class="name">添加其它模块</span></div>
                        <ul id="hideul">
                            <li style="height: 2px;margin: 0px;"></li>
                            <!-- 新增添加自定义模块 -->
                            <li class="fm"><i class="icon"></i><span class="name" data-placeholder="封面">封面</span><a class="save_opt jy-vip-lock" data-show-vip-type="resume" data_auth="cover" title="显示此模块" for-id="resume_cover"></a></li>
                            <li class="zjx"><i class="icon"></i><span class="name" data-placeholder="自荐信">自荐信</span><a class="save_opt jy-vip-lock" data-show-vip-type="resume" data_auth="letter" title="显示此模块" for-id="resume_letter"></a></li>
                            <li class="sxjy"><i class="icon"></i><span class="name" data-placeholder="实习经验">实习经验</span><a class="save_opt" title="显示此模块" for-id="resume_internship"></a></li>
                            <li class="zyjy"><i class="icon"></i><span class="name" data-placeholder="志愿者经验">志愿者经历</span><a class="save_opt" title="显示此模块" for-id="resume_volunteer"></a></li>
                            <li class="xmjy"><i class="icon"></i><span class="name" data-placeholder="项目经历">项目经验</span><a class="save_opt" title="显示此模块" for-id="resume_project"></a></li>
                            <li class="jxry"><i class="icon"></i><span class="name" data-placeholder="奖项荣誉">荣誉奖项</span><a class="save_opt" title="显示此模块" for-id="resume_honor"></a></li>
                            <li class="zpzs"><i class="icon"></i><span class="name" data-placeholder="作品展示">作品展示</span><a class="save_opt" title="显示此模块" for-id="resume_portfolio"></a></li>
                            <li class="ewm"><i class="icon"></i><span class="name" data-placeholder="二维码">二维码</span><a class="save_opt" title="显示此模块" for-id="resume_qrcode"></a></li>
                            <li class="add_custom"><i class="icon"></i><span class="name" data-placeholder="自定义模块">自定义模块</span><a class="save_opt" title="隐藏此模块" for-id=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Html.Raw(ViewBag.Html)