
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="background:#fff;">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="keywords" content="简悦登录,简悦注册">
    <meta name="description" content="简悦登录和注册">
    <meta name="renderer" content="webkit">
    <title>登录和注册 - 简悦简历</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/utils.js"></script>
    <script src="~/Scripts/common_ext.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/layer.js"></script>
    <link href="~/Scripts/skin/layer.css" rel="stylesheet" />
    <script src="~/Scripts/pswd/jsbn.js"></script>
    <script src="~/Scripts/pswd/prng4.js"></script>
    <script src="~/Scripts/pswd/rng.js"></script>
    <script src="~/Scripts/pswd/rsa.js"></script>
    <script src="~/Scripts/pswd/base64.js"></script>
    <script src="~/Scripts/plugin/modal/modal.js"></script>
    <script src="~/Scripts/login.js"></script>
    <script src="~/Scripts/jquery.lazyload.min.js"></script>
</head>
<body>
    <div class="login-reg-top">
        <div class="g-w1240">
            <h1 class="login-logo">
                <a href="/" target="_blank">
                    <img src="~/images/login/login_logo.png" width="" height="45">
                </a>
            </h1>
            <div class="wx-service-box">加简悦微信服务号<span><img src="~/images/login/qrcode_jy500.png" width="146"></span></div>
        </div>
    </div>
    <div id="mark_mask" style="display:none;position:fixed;top:40px;left:0;z-index:99999999;height:1000px;width:100%;background:rgba(0,0,0,0.4);"></div>
    <div class="login-reg-bg clearfix">
        <div class="g-w1240">
            <!--注册-->
            <div class="modal lrModal wylrModal" id="regModal" style="display:none">
                <div class="modal-dialog reg show-swal2">
                    <div class="modal-content">
                        <div class="hd"><h2>手机注册</h2><div class="other-yzc">已注册<a  data_track="PC-通用-登陆注册页-免费注册-免费注册-已注册登陆" href="/login/"> 登录</a></div></div>
                        <div class="cd">
                            <form class="reg-form" method="POST" action="/register/mobile_submit/" id="regMobileForm">
                                <input name="mid" id="mid" value="SMS_61910001" type="hidden">
                                <input name="captchaId" value="4de16677-63a9-403c-9b65-7bc271ddeb75" type="hidden">
                                <div class="field phone-field">
                                    <label title="手机号 ">手机号</label><input id="phoneNum" name="mobile" placeholder="请输入你的手机号 " type="text">
                                    <div class="valid-tips"><p class="tips">验证完后，你可以用该手机号码登录和找回密码</p></div>
                                    <div class="valid-error"><p class="error"></p></div>
                                </div>
                                <div class="field pwd-field">
                                    <label title="密码">设置密码</label>
                                    <input id="pwdNum" name="password" placeholder="密码" type="password">
                                    <div class="valid-tips"><p class="tips">只能使用字母、数字、下划线，6-20个字符</p></div>
                                    <div class="valid-error"><p class="error"></p></div>
                                </div>
                                <div class="field code-field">
                                    <label title="验证码">验证码</label>
                                    <input placeholder="请输入验证码" name="captchaCode" type="text">
                                    <img class="codeimg captchaImage" src="/common/GetValidateCode/?captchaId=4de16677-63a9-403c-9b65-7bc271ddeb75">
                                    <div class="valid-error"><p class="error">请输入正确的验证码</p></div>
                                </div>
                                <div class="field yzm-field">
                                    <label title="手机验证码">手机验证码</label>
                                    <input placeholder="请输入手机验证码" name="code" type="text"><input value="获取验证码" class="yzm-btn mobileCodeBtn">
                                    <div class="valid-error"><p class="error">请输入正确的手机验证码</p></div>
                                </div>

                                <div class="submit"><button type="button"><input class="loading1 spin " data_track="PC-通用-登陆注册页-免费注册-免费注册-注册" style="display:none">注册</button></div>
                                <div class="agreement_field">点击 [ 注册 ] 按钮，即代表你同意<a href="#" target="_blank">《简悦用户协议》</a></div>
                            </form>
                        </div>
                        <div class="bd">
                            <a class="qq login_qq">QQ登录</a>
                            <a class="zc yx right">使用邮箱注册</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--邮箱注册-->
            <div class="modal lrModal wylrModal" id="regemailModal" style="display: block;">
                <div class="modal-dialog reg show-swal2" style="height: 430px;margin: 130px auto;">
                    <div class="modal-content">
                        <div class="hd"><h2>邮箱注册</h2><div class="other-yzc">已注册<a  data_track="PC-通用-登陆注册页-免费注册-免费注册-已注册登陆" href="/login/"> 登录</a></div></div>
                        <div class="cd">
                            <form class="reg-form" id="regEmailForm" action="/register/submit/" method="POST">
                                <input name="captchaId" value="4416bd8d-558a-477a-8d6a-f6d916d51c63" type="hidden">
                                <div class="field phone-field">
                                    <label title="邮箱 ">邮箱</label><input id="emailNum" name="email" placeholder="请输入你的邮箱地址 " type="email">
                                    <div class="valid-tips"><p class="tips">验证完后，你可以用该邮箱登录和找回密码</p></div>
                                    <div class="valid-error"><p class="error"></p></div>
                                </div>
                                <div class="field pwd-field">
                                    <label title="密码">设置密码</label>
                                    <input id="pwdNum" name="password" placeholder="密码" type="password">
                                    <div class="valid-tips"><p class="tips">只能使用字母、数字、下划线，6-20个字符</p></div>
                                    <div class="valid-error"><p class="error"></p></div>
                                </div>

                                <div class="field code-field">
                                    <label title="验证码">验证码</label>
                                    <input placeholder="请输入验证码" name="captchaCode" id="captchaCode" type="text">
                                    <img class="codeimg captchaImage" src="/common/GetValidateCode/?captchaId=4416bd8d-558a-477a-8d6a-f6d916d51c63">
                                    <div class="valid-error"><p class="error">请输入正确的验证码</p></div>
                                </div>
                                <div class="submit"><button type="button" data_type="page"><input class="loading1 spin " data_track="PC-通用-登陆注册页-免费注册-免费注册-注册" style="display:none">注册</button></div>
                                <div class="agreement_field">点击 [ 注册 ] 按钮，即代表你同意<a href="#" target="_blank">《简悦用户协议》</a></div>
                            </form>
                        </div>
                        <div class="bd"> 
                        </div>
                    </div>
                </div>
            </div>
            <!--验证邮箱身份-->
            <div class="modal lrModal" id="yzemailModal" style="display: none;">
                <div class="modal-dialog zhpwd show-swal2">
                    <div class="modal-content">
                        <div class="hd"><h2>验证邮箱</h2></div>
                        <div class="cd">
                            <form>
                                <p>亲爱的用户，邮件发送完成，请登录邮箱进行验证</p>
                                <div class="yz">已发送邮件至：<i>service@500d.me</i><a href="zhemail.html" data-toggle="modal" data-target="#zhpasswordModal" data-dismiss="modal" aria-hidden="true">修改邮箱</a></div>
                                <div class="submit"><button type="button" id="forward_validate_email"><input class="loading1 spin" style="display:none">前往邮箱验证</button></div>
                            </form>
                        </div>
                        <div class="zhemailtips">
                            <i>如果没有收到验证邮件，可能是：</i><br>1.邮件被外星人劫持到垃圾箱了~<br>2.请检查邮箱地址是否正确~
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--右边导航条显示在线客服，帮助中心，返回顶部这三个按钮-->
    <!--回到顶部-->
    <script>
        $(document).ready(function () {
            common.main.gotop();
        });
    </script>
    <div class="jl-index_bottom1" style="position:fixed;width: 100%;bottom: 0px;z-index: 10000;">
        <div class="g-w1240">
            <p class="p_copy">Copyright © 2017-2018.<a href="http://www.jy500.cn/">www.jy500.cn</a> . All Rights Reserved.</p>
            <p class="p_foot_bar">
                <a target="_blank" href="/member/" rel="nofollow">个人中心</a> -
                <a target="_blank" href="/common/joinus/" rel="nofollow">加入我们</a> -
                <a target="_blank" href="/help/" rel="nofollow">帮助中心</a> -
                <a target="_blank" href="/sitemap.html">网站地图</a> -
                <a target="_blank" href="http://www.miitbeian.gov.cn">鲁ICP备18026596号</a>
            </p>
        </div>
    </div>


    <script type="text/javascript">
        $(function () {
            $('#wxloginModal iframe').height(160);
            $('#wxloginModal iframe').width(160);

            $("#zhloginModal .other a,.lrModal .bd .wx").click(function () {
                $("#zhpasswordModal").css('display', 'none');
                $("#wxloginModal").css('display', 'block');
                $("#zhloginModal").css('display', 'none');
            });
            $("#wxloginModal .other a,.lrModal .bd .zh").click(function () {
                $("#zhpasswordModal").css('display', 'none');
                $("#zhloginModal").css('display', 'block');
                $("#wxloginModal").css('display', 'none');
            });
            $(".lrModal .bd .wj").click(function () {
                $("#zhpasswordModal").css('display', 'block');
                $("#zhloginModal").css('display', 'none');
                $("#wxloginModal").css('display', 'none');
            });
            $(".lrModal .bd .yx").click(function () {
                $("#regModal").css('display', 'none');
                $("#regemailModal").css('display', 'block');
            });
            $(".lrModal .bd .sj").click(function () {
                $("#regModal").css('display', 'block');
                $("#regemailModal").css('display', 'none');
            });
            // 自动填写用户名
            if (getCookie("rememberEmail") != null) {
                $("#loginForm input[name='username']").val(getCookie("rememberEmail"));
                $("#loginForm input[name='password']").focus();
            } else {
                $("#loginForm input[name='username']").focus();
            }
            if (getCookie("rememberMobile") != null) {
                $("#loginForm input[name='username']").val(getCookie("rememberMobile"));
                $("#loginForm input[name='password']").focus();
            } else {
                $("#loginForm input[name='username']").focus();
            }
        });
    </script>

    <div class="gotop"></div>
</body>
</html>
