
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="修改密码">
    <meta name="description" content="修改密码">
    <title>密码修改 - 简悦简历</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/utils.js"></script>
    <script src="~/Scripts/common_ext.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/layer.js"></script>
    <link href="~/Scripts/skin/layer.css" rel="stylesheet" />
    <script src="~/Scripts/pswd/jsbn.js"></script>
    <script src="~/Scripts/pswd/prng4.js"></script>
    <script src="~/Scripts/pswd/rng.js"></script>
    <script src="~/Scripts/pswd/rsa.js"></script>
    <script src="~/Scripts/pswd/base64.js"></script>
    <script src="~/Scripts/plugin/modal/modal.js"></script>
    <script src="~/Scripts/login.js"></script>
    <script src="~/Scripts/jquery.lazyload.min.js"></script>
    <script type="text/javascript">
		function save(){
			var passwordold = $("#passwordold").val();
			var password = $("#password").val();
			var password2 = $("#password2").val();

			var reg = /^[\@@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,16}$/;
			if(password != password2){
				$("p.p_login_Error").html("两次密码不一致");
				$("p.p_login_Error").css("visibility", "visible");
				return;
			}
			if(!reg.test(password)){
				$("p.p_login_Error").html("密码请使用6~20个英文字母（区分大小写）、符号或数字");
				$("p.p_login_Error").css("visibility", "visible");
				return;
			}
			$.ajax({
				url: "/member/newpassword/",
				type: "POST",
				data: {
					passwordold:passwordold, password:password
				},
				dataType: "json",
				cache: false,
				success: function(data) {
				$("#change").hide();
					if(data == 1){
						$("#success").show();
					}else{
						$("#erro").show();
					}
				}
		});
	}
	function ok(t){
		if(t == 1){
			history.pushState({},"个人设置","/member/set/");//从新设置一下当前URL，防止帅新时密码设置失败
			common.main.loginOut();
			show_login_modal();
		}else{
			$("#change").show();
			$("#success").hide();
			$("#erro").hide();
		}
	}
	function sendEmail(a){
		if(a == 1){
			$.ajax({
				url: "/sendEmail/",
				type: "GET",
				dataType: "json",
				cache: false,
				success: function(data) {
				}
			});
			$("#sendEmailButton").attr("class","btn_mail_send");
			$("#sendEmailButton").attr("onClick","sendEmail(2);");
		}else{
			$("#sendEmailButton").attr("class","btn_mail_sendAgin");
		}
	}
    </script>
</head>
<body class="jl-loginreg">
    <div class="login-reg-top">
        <div class="g-w1240">
            <h1 class="login-logo">
                <a href="/" target="_blank">
                    <img src="~/images/login/login_logo.png" width="" height="45">
                </a>
            </h1>
            <div class="wx-service-box">加简悦微信服务号<span><img src="~/images/login/qrcode_jy500.png" width="146"></span></div>
        </div>
    </div>
    <div id="mark_mask" style="display:none;position:fixed;top:40px;left:0;z-index:99999999;height:1000px;width:100%;background:rgba(0,0,0,0.4);"></div>
    <div class="lr-glbox lr-szbox">
        <div class="szpwdcon">
            <h2>设置新密码</h2>
            <p>亲爱的用户，请在下方输入您的新密码</p>
            <form id="updatePasswordForm">
                <div class="field pwd-field"><input type="password" name="passwordold" placeholder="请输入原密码"></div>
                <div class="field pwd-field"><input type="password" name="password" placeholder="请输新密码"><div class="valid-error"><p class="error">只能输入6-20个字母、数字、下划线</p></div></div>
                <div class="field qrpwd-field"><input type="password" name="repassword" placeholder="请再次输入新密码"></div>
                <div class="submit"><button type="button"><input class="loading1 spin" style="display:none">确认</button></div>
            </form>
        </div>
    </div>
    <!--右边导航条显示在线客服，帮助中心，返回顶部这三个按钮-->
    <!--回到顶部-->
    <script>
        $(document).ready(function () {
            common.main.gotop();
        });</script>
    <div class="jl-index_bottom1" style="position:fixed;width: 100%;bottom: 0px;z-index: 10000;">
        <div class="g-w1240">
            <p class="p_copy">Copyright © 2017-2018.<a href="http://www.jy500.cn/">www.jy500.cn</a> . All Rights Reserved.</p>
            <p class="p_foot_bar">
                <a target="_blank" href="/member/" rel="nofollow">个人中心</a> -
                <a target="_blank" href="/common/joinus/" rel="nofollow">加入我们</a> -
                <a target="_blank" href="/help/" rel="nofollow">帮助中心</a> -
                <a target="_blank" href="/sitemap.html">网站地图</a> -
                <a target="_blank" href="http://www.miitbeian.gov.cn">鲁ICP备18026596号</a>
            </p>
        </div>
    </div>
    <!--foot-->

    <div class="gotop"></div>
</body>
</html>
