
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>简历技巧 - 简悦简历</title>
    <link href="~/Content/index.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/layer.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            layer.alert("同学，好好看下这篇文章吧，时间仓促，找了份比较全面的技巧，有时间再整理下收集的简历技巧！");
        });
    </script>
</head>
<body>
    <a href="/" style="font-size:30px">返回首页</a>
    <div class="left main">
        <div class="text" style="width:60%;margin:auto;">
            <div class="text-title">
                <h1>
                    这可能是史上最全的简历技巧分享！ 
                </h1>
                <span class="article-tag">啊哦~这个页面有点丑，因为站长偷懒了...</span>
            </div>
            <article class="article" id="mp-editor">
                <p data-role="original-title" style="display:none">原标题：这可能是史上最全的简历技巧分享！</p>
                <p><strong><span>Tips：</span></strong></p>
                <p><span style="font-size: 16px;">最近看了30多份简历，也面试了几个人，发现有些人的能力其实并不差，但在简历上表现出来却资质平平，没有什么亮点，如果不是约过来面谈，估计简历就石沉大海了。</span><span style="font-size: 16px;">今天就想来和大家聊聊</span><span style="font-size: 16px;">关于简历制作，你必须要知道的事。</span></p>
                <p style="text-align: center;"><img src="http://5b0988e595225.cdn.sohucs.com/images/20180122/1d3e9b6a343c4601999a60b42d5ac366.jpeg"></p>
                 <p style="text-align: justify;"><span>1</span><strong>简历的标题</strong></p>
                <p><span style="font-size: 16px;">如果你是通过一些招聘网站的内建简历模板来向企业投递的，一般不会出现简历的标题，但如果你是通过邮箱来投递，就会出现简历的标题了。</span></p>
                <p><span style="font-size: 16px;">你要知道，HR的工作是很忙的，她每天要处理上百份的邮件，还要邀约觉得合适的人过来面试，她没时间跟你耗，她只会关心</span><span style="font-size: 16px;">能不能<strong>尽快招到合适的人</strong></span><span style="font-size: 16px;">。</span></p>
                <p><span style="font-size: 16px;">因此，标题应该直接呈现HR所关心的信息，比如说</span><strong><span style="font-size: 16px;">你要</span><span style="font-size: 16px;">应聘的岗位，你的名字，然后再加一个亮点</span></strong><span style="font-size: 16px;">。</span></p>
                <p><img src="http://5b0988e595225.cdn.sohucs.com/images/20180122/ee66653e70e14547bbd66b2fae9d6e07.jpeg"></p>
                <p><span style="font-size: 16px;">举个例子，假如我要应聘新媒体运营主管的这个岗位，那么标题就应该这么写《应聘新媒体运营主管-雅客-5年运营经验》</span></p>
                <p><span style="font-size: 16px;">这样HR一看，应聘的岗位符合，而且运营经验也很丰富，是我们想要找的人，就会点进去看你的个人简历。</span></p>
                <p><span style="font-size: 16px;">如果你是应届毕业生，还没有工作经验，但你就特别喜欢这个公司，是这个公司产品的发烧友。那么在标题上你就可以写《应聘新媒体运营-雅客-xx公众号的3年读者》。</span></p>
                <p style="text-align: justify;"><span>2</span><strong>个人基本信息</strong></p>
                <p><span style="font-size: 16px;">个人的基本信息，通常是放在简历的最顶端的，也有的放在侧边，或者最底下的，问题都不大。</span></p>
                <p><span style="font-size: 16px;">个人的基本信息只要填写你的名字，性别，年龄，居住地，联系电话，邮箱基本就够了。</span></p>
                <p style="text-align: center;"><img src="http://5b0988e595225.cdn.sohucs.com/images/20180122/6f84134cac4a4d9e9d547d1a054f483f.jpeg"></p>
                <p><span style="font-size: 16px;">在个人信息这块，有4个点值得注意一下。</span></p>
                <p><span style="font-size: 16px;"><strong>居住地</strong></span></p>
                <p><span style="font-size: 16px;">如果你是居住在广州的，应聘的岗位却是在深圳的，就会让人担心你居住的问题怎么解决了，所以最好还是应聘你居住地所在的企业。</span></p>
                <p><span style="font-size: 16px;"><strong><span style="font-size: 16px;">联系电话</span></strong></span></p>
                <p><span style="font-size: 16px;">写联系电话的时候，最好</span><strong><span>在手机号码中间空一格</span></strong><span style="font-size: 16px;">，以 156 2556 xxxx 这样的格式来写，方便别人进行阅读。</span></p>
                <p><span style="font-size: 16px;">如果你是给外企投的简历，那么在电话开头前，还应该加多一个086 156 xxxx xxxx 。</span></p>
                <p><span style="font-size: 16px;"><strong><span>邮箱</span></strong></span></p>
                <p><span style="font-size: 16px;">在邮箱这块，建议大家</span><strong>尽量不要用QQ邮箱</strong><span style="font-size: 16px;">，因为QQ毕竟是很私人的东西，给人的感觉也不太正式。</span></p>
                <p><span style="font-size: 16px;">如果你要应聘的是国内的企业，推荐使用163邮箱，国外的就用Gmail，而最干净标准的邮箱名，应该是<strong>「名字.姓」</strong>。</span></p>
                <p><span style="font-size: 16px;"><strong><span style="font-size: 16px;">照片</span></strong></span></p>
                <p><span style="font-size: 16px;">如果你对自己的长相并没有太大的信心，那么大可不必在简历上贴上自己的照片。</span></p>
                <p><span style="font-size: 16px;"><strong>投递简历的目标是要拿到面试的邀约</strong>，如果对自己不太有利，又不是很重要的，那么可以先放一放。</span></p>
                <p><span style="font-size: 16px;">如果你决定要把自己的照片放上去，那么最好先收拾一下自己，然后找一家专业的照相馆来拍几张职业照。</span></p>
                <p><span style="font-size: 16px;">我看过很多人，虽然钱是花了，着装打扮也花了不少钱，但拍出来的效果却一般般，这就很不值了。</span></p>
                <p style="text-align: justify;"><span>3</span><strong>教育背景</strong></p>
                <p><span style="font-size: 16px;">如果你是已经有工作经历的，那么教育背景这块就可以不写了，而如果你还是在校生，那么这一块就要留意一下。</span></p>
                <p style="text-align: center;"><img src="http://5b0988e595225.cdn.sohucs.com/images/20180122/192a3269957743d7b61fe5a02183f989.jpeg"></p>
                <p><span style="font-size: 16px;">教育背景主要包括毕业的学校，所修的专业，成绩，学历这些基本信息。</span></p>
                <p><span style="font-size: 16px;"><strong><span style="font-size: 16px;">学校</span></strong></span></p>
                <p><span style="font-size: 16px;">在学校这一栏，你只要把</span><strong>学历最高</strong><span style="font-size: 16px;">的那个学校写上去就可以了，不需要把所有的学校都填上。</span></p>
                <p><span style="font-size: 16px;">如果你是<strong>应届毕业生</strong>，那么在就读时间那一栏可以注明：2013.9-2017.6 。</span></p>
                <p><span style="font-size: 16px;">有些公司他只招17年的应届毕业生，如果你在简历的信息上非常清晰地体现出这一点，那么通过的概率就高了几个点。</span></p>
                <p><span style="font-size: 16px;"><strong>专业</strong></span></p>
                <p><span style="font-size: 16px;">不少招聘信息上都会写上什么什么专业的优先，说明如果专业对口，还是能为你加分不少的。</span></p>
                <p><span style="font-size: 16px;">特别是有些HR在网上搜索简历的时候，会用<strong>专业作为关键词来搜索</strong>，如果你的简历中出现了这个词，那么就能出现在HR的视线中。</span></p>
                <p style="text-align: center;"><img src="http://5b0988e595225.cdn.sohucs.com/images/20180122/7b1f1a02a4df4fc68cbbae291e061edf.jpeg"></p>
                <p><span style="font-size: 16px;">如果</span><strong><span>你所读的专业不是所要应聘的公司想要的</span></strong><span style="font-size: 16px;">，但自己读过这方面的书，那么你可以在简历上写【正在全力学历xx专业】【正在备考xx证书】。</span></p>
                <p><span style="font-size: 16px;">这样就能被HR搜索到，并且也没有违反道德。</span></p>
                <p><span style="font-size: 16px;">记住，你投简历的目的是要被HR看到，并且收到HR的面试邀约，所以你要学会灵活变通，在不违反道德的情况下，增加简历的存活率。</span></p>
                <p><span style="font-size: 16px;"><strong><span style="font-size: 16px;">成绩</span></strong></span></p>
                <p><span style="font-size: 16px;">在成绩这一栏，如果你的成绩一般般，只要</span><strong>把成绩最高的那几科写上就好了</strong><span style="font-size: 16px;">，即便跟专业不相关也没有关系。</span></p>
                <p style="text-align: justify;"><span>4</span><strong>工作经历</strong></p>
                <p><span style="font-size: 16px;">工作经历怎么写？先别急！写工作经历的第一步并不是写，而是去</span><strong>了解应聘岗位的要求，</strong><strong>一份简历对应一家企业</strong><span style="font-size: 16px;">这样去写。</span></p>
                <p><img src="http://5b0988e595225.cdn.sohucs.com/images/20180122/eceb3d9d63b54affb413214d78c56c1f.jpeg" width="auto"></p>
                <p><span style="font-size: 16px;">在每个企业的招聘网站上，都会清楚地列出这个岗位需要的人才，那么你就针对这些点，从自己的过往经历中，搜索有关的信息来写。</span></p>
                <p><span style="font-size: 16px;">而且在写的时候，也有方法，你要遵循<strong>STAR法则</strong>来写，也即：情景，目标，行动，结果。</span></p>
                <p style="text-align: justify;"><span style="font-size: 16px;"><span style="font-size: 16px;">在工作经历描述中，也要</span><strong>减少或尽量不要使用形容词</strong><span style="font-size: 16px;">，而是应该</span><strong>多用动词</strong><span style="font-size: 16px;">，这样表述出来的句子才干净利索。</span></span></p>
                <p style="text-align: justify;"><span>5</span><strong>自我评价</strong></p>
                <p style="text-align: justify;"><span style="font-size: 16px;">在自我评价这块，很多同学也是就写上什么，我是一个性格开朗，活泼可爱，人见人爱，花见花开，团结友善，敬业爱国，尊老爱幼的好青年。</span></p>
                <p><span style="font-size: 16px;">这样<strong>不带任何具体事例来证明的短语，都是耍流氓！</strong></span></p>
                <p><span style="font-size: 16px;">凭什么你说你是尊老爱幼就是尊老爱幼啊，你至少得说，我每天坐车看到老奶奶，老公公，和小孩子，都主动给他们让座，这样才能体现你是一个尊老爱幼的好青年嘛！</span></p>
                <p><span style="font-size: 16px;">另外，在写这一部分内容的时候，你也要尽量往用人单位想要的方向去靠，努力积极地<strong>用事实来证明，你就是他们想要找的人。</strong></span></p>
                <p><span style="font-size: 16px;">除此之外，有些公司会在招聘信息上要求你什么office熟练，PS熟练之类的。有些人就在简历上画了几个条形图，或者几个环形图。</span></p>
                <p style="text-align: center;"><img src="http://5b0988e595225.cdn.sohucs.com/images/20180122/0a2df80a2b4247c4be93f4954044ce44.jpeg"></p>
                <p><span style="font-size: 16px;">上面写着，office熟练度：80%（熟练），PS熟练度：70%（熟练），你以为你是机器人啊，还能把熟练度算出数值来！</span></p>
                <p><span style="font-size: 16px;">你说你熟练，同样也要<strong>举出一两个事例来证明</strong>，而不是简单地就摆个数值在哪里，或者单纯就说自己熟练。</span></p>
                <p style="text-align: justify;"><span>6</span><strong>检查修正</strong></p>
                <p style="text-align: justify;"><span style="font-size: 16px;">写完以上信息后，一份简历就基本完成了。但最后你还是再</span><strong>检查优化一下</strong><span style="font-size: 16px;">。</span></p>
                <p><span style="font-size: 16px;">检查的清单如下：</span></p>
                <ul>
                    <li>应聘岗位是否有在简历中体现</li>
                    <li>工作经历是否跟招聘要求相符</li>
                    <li>工作成果是否有数据作为支撑</li>
                    <li>工作技能是否跟招聘要求相符</li>
                    <li>个人评价是否有事实作为论证</li>
                    <li>个人信息是否有填写上的错误</li>
                    <li>行文当中是否有字或语法错误</li>
                </ul>
                <p><span style="font-size: 16px;">另外，所写的简历内容，最好是</span><strong>控制在一页纸，不多不少。</strong></p>
                <p><span style="font-size: 16px;">如果你写了好几页，就有可能有些信息并不是与应聘的岗位非常对标，这些就可以考虑是否进行删除。</span></p>
                <p style="text-align: justify;"><span>7</span><strong>网络邮箱投递简历</strong></p>
                <p><span style="font-size: 16px;">除非你是通过招聘网站内建的简历模板投递的，大多人还是需要通过网络邮件来进行投递，那么在网络邮件投递这一块，也需要注意以下细节。</span></p>
                <p style="text-align: center;"><img src="http://5b0988e595225.cdn.sohucs.com/images/20180122/35d4cb098389412d847f9d104c4734fe.jpeg"></p>
                <p><span style="font-size: 16px;"><strong><span style="font-size: 16px;">标题</span></strong></span></p>
                <p><span style="font-size: 16px;">标题在开头就说了，应当以</span><strong>【应聘的岗位+名字+一个亮点】</strong><span style="font-size: 16px;">这样的格式来写，千万别自作聪明。</span></p>
                <p><span style="font-size: 16px;"><strong>发件人姓名和邮箱地址</strong></span></p>
                <p><span style="font-size: 16px;">发件人的姓名应该填写自己真实的姓名，不要搞那些奇奇怪怪的网名，会给人一种不专业的感觉。</span></p>
                <p><span style="font-size: 16px;"><strong><span>邮件正文</span></strong></span></p>
                <p><span style="font-size: 16px;">邮件的正文</span><strong>一定不要空</strong><span style="font-size: 16px;">！一般来说邮件的正文是用来</span><strong>写求职信</strong><span style="font-size: 16px;">的，如果别人看到你在邮件正文那里没有内容，一片空白，就给人的感觉你不是特别重视这份工作。</span></p>
                <p><span style="font-size: 16px;"><strong><span style="font-size: 16px;">附件</span></strong></span></p>
                <p><span style="font-size: 16px;">附件名字的格式，最好就是按照</span><strong>【岗位名称-名字-工作经验】</strong><span style="font-size: 16px;">这样的格式来写。</span></p>
                <p><span style="font-size: 16px;">而上传的文件格式，</span><strong>一定要是PDF的！</strong></p>
                <p><span style="font-size: 16px;">为什么要用PDF的，因为如果你发Word文档的话，每个人的office版本都不同，就会出现格式错乱的情况，使用PDF的就绝对不会出现问题。</span></p>
                <p><span style="font-size: 16px;"><strong>发送</strong></span></p>
                <p><span style="font-size: 16px;">发送邮件之前，建议</span><strong>先发送给自己</strong><span style="font-size: 16px;">，这样可以看到自己在收到邮件的时候有没有什么错误是刚才没注意到的，待确认没问题后，再发送给HR。</span></p>
                <p style="text-align: justify;"><span>8</span><strong>线下投递简历</strong></p>
                <p><span style="font-size: 16px;">不管你是在招聘平台内部投递的简历，还是利用邮箱投递的简历，你最后都要打印几份纸质版的简历出来，留作面试的时候用。</span></p>
                <p><span style="font-size: 16px;">那在纸质版简历打印这块，同样也有几个点要注意的。</span></p>
                <p><span style="font-size: 16px;"><strong><span style="font-size: 16px;">纸质</span></strong></span></p>
                <p><span style="font-size: 16px;">在打印简历的时候，最好找一家纸质好的店，千万不要找那种虽然价钱很便宜，但打印出来，纸质却很薄的那种纸。</span></p>
                <p><span style="font-size: 16px;">纸质好的纸一般都比较厚，而且有一定的重量，拿在手上的感觉是完全不同的，虽然这个细节非常的细小，但也能传递出你是一个有品味，专业，而且重视这份工作的求职者</span></p>
                <p style="text-align: center;"><img src="http://5b0988e595225.cdn.sohucs.com/images/20180122/53604779ba1a4b51baae0f4e27b26fef.jpeg"></p>
                <p><span style="font-size: 16px;"><strong><span style="font-size: 16px;">颜色</span></strong></span></p>
                <p><span style="font-size: 16px;">关于颜色这块，我个人认为打印黑白的或者彩印的，并没有太大的区别，如果你喜欢彩色的，那就打印彩色的，喜欢黑白的，就打印黑白的。</span></p>
                <p><span style="font-size: 16px;"><strong><span style="font-size: 16px;">打印</span></strong></span></p>
                <p><span style="font-size: 16px;">打印的时候，不要就打印一份，打印<strong>3-5份</strong>留作备用。另外，如果你的简历是多页的，要采用</span><strong>单面打印</strong><span style="font-size: 16px;">，一来方便翻阅，二来可以防止颜色过面。</span></p>
                <p><span style="font-size: 16px;"><strong><span style="font-size: 16px;">装订</span></strong></span></p>
                <p><span style="font-size: 16px;">装订的时候，先把所有的纸对整齐，然后</span><strong>装订在简历上的左上角</strong><span style="font-size: 16px;">。</span></p>
                <p><span style="font-size: 16px;"><strong><span style="font-size: 16px;">彩色文件夹</span></strong></span></p>
                <p><span style="font-size: 16px;">打印完简历之后，你最好顺便去买一个</span><strong>彩色的文件夹</strong><span style="font-size: 16px;">，用来装你的简历，这样可以妥善保存，以免简历出现褶皱的情况。</span></p>

            </article>

        </div>
    </div>
</body>
</html>
